@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }
  .dark * {
    border-color: #374151;
  }
  body {
    @apply bg-gray-50 text-gray-900;
  }
  .dark body {
    background-color: #030712;
    color: #f3f4f6;
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
